/** Custom CSS */

.login_bg {
    background: url(/images/manuel-boxler--CZERTBlepA-unsplash.jpg) no-repeat center;
}
#login_box_container {opacity: 0.93;}

.main_side_bar {top: 0px;}

.badge {font-size: 9px; bottom: 1px; right: 1px;}

.generic_input, .generic_select, .date_input {
    @apply .appearance-none
    .bg-gray-200
    .text-gray-700
    .border
    .border-gray-400
    .py-2
    .px-2
    .leading-tight
}
.generic_input, .generic_select {
    @apply .rounded
}
.date_input {
    @apply .rounded-l
}
.generic_input:hover, .generic_select:hover, .date_input:hover {
}
.generic_input:focus, .generic_select:focus, .date_input:focus {
    @apply .outline-none
    .bg-white
    .border-gray-500
}

button:active {
    @apply .outline-none
}
button:focus {
    @apply .outline-none
}

.datatable_header {
    @apply .border-b
    .mb-3
    .pb-1
    .z-20
    .sticky
}
.datatable_header {
    top: 0px;
}
.table_header {
    top: 35px;
}

.form_field_container {
    @apply .mb-4
}
.form_field_label {
    @apply .uppercase
    .tracking-wide
    .text-sm
    .font-semibold
    .mb-1
}
.form_value_label {
    @apply .text-xs
    .mb-2
}
.form_field_message {
    @apply .text-red-500
    .text-xs
    .italic
    .mt-2
    .mb-0
}

@media (min-width: 768px){
    .form_field_label {
        @apply .text-base
    }
    .form_value_label {
        @apply .text-sm
    }
}

.generic_vs_select {

}
.generic_vs_select .vs__search::placeholder,
.generic_vs_select .vs__dropdown-toggle,
.generic_vs_select .vs__dropdown-menu {
    @apply
    .bg-gray-200
    .text-gray-700
    .border
    .border-gray-400
    .text-sm
}

.generic_vs_select .vs__clear,
.generic_vs_select .vs__open-indicator {
    @apply
    .bg-gray-200
}

.required_field,
.required_field:focus, .required_field:focus, .required_field:focus
.required_field .vs__search::placeholder,
.required_field .vs__dropdown-toggle,
.required_field .vs__dropdown-menu {
    @apply .border-red-300
}

.vs__search, .vs__search:focus {
    line-height: 23px;
}

.pagination {
    @apply .border
    .border-gray-400
    .rounded;
}
.pagination .page-item {
    @apply .border-r
    .border-gray-400;
}
.pagination .page-item:last-child {
    @apply .border-0;
}
.pagination .page-item .page-link {
    @apply .py-2
    .px-3
    .block;
}
.pagination .page-item .page-link:hover,
.pagination .page-item.active .page-link {
    @apply .bg-blue-600
    .text-white
    .cursor-pointer;
}
.pagination .page-item.disabled .page-link,
.pagination .page-item.disabled .page-link:hover {
    @apply .bg-white
    .text-gray-400
    .cursor-default;
}
